body{
background:#020617;
color:white;
scroll-behavior:smooth;
font-family:Segoe UI;
}

.skill{
padding:20px;
background:#020617;
border-radius:10px;
transition:0.3s;
box-shadow:0 0 20px #38bdf8;
}

.skill:hover{
transform:scale(1.1);
}

.project-card{
background:#020617;
padding:20px;
border-radius:12px;
transition:0.3s;
box-shadow:0 0 20px #38bdf8;
}

.project-card:hover{
transform:scale(1.05);
}

.btn-demo{
padding:8px 16px;
background:#38bdf8;
color:black;
border-radius:20px;
font-size:14px;
}

.btn-github{
padding:8px 16px;
background:#22c55e;
color:black;
border-radius:20px;
font-size:14px;
}